.header{
    background-color: rgba(39, 150, 11, 0.932);
    color: white;
    font-size: 40px;
    padding: 20px;
    padding-left: 50px;
}

.search-form{
    max-width: 700px;
    margin:  50px auto;
    display: flex;
}

.list-group{
    max-width: 400px;
    margin:  50px auto 20px;
    display: flex;    
}
.map {
    height: 700px;
	width: 100%;
}

.info-block{
    max-height: 700px;
    height: 100%;
}

.pic-block{
    max-height: 400;
    height: 100%;
}

.text-block{
    overflow-y: scroll;
    max-height: 250px;
    height: 100%;
    margin-top: 5%;
}

.search-field{
    flex-grow: 1;
    height: 40px;
    border: 5px solid rgba(39, 150, 11, 0.932);
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 100%;
    outline: none;
}

.search-btn{
    padding: 0 20px;
    font-size: 100%;
    font-weight: bold;
    background-color: rgba(39, 150, 11, 0.932);
    border: 5px solid rgba(39, 150, 11, 0.932);
    border-left: none;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.search-btn:hover{
    background-color: #f2f5f1;
    color: black;
}

.navbar{
    background-color: rgba(39, 150, 11, 0.932);
    border-bottom: 1px solid #011627;
}